services:
  mongo:
    container_name: mongo
    hostname: mongo
    image: mongo:latest
    restart: always
    ports:
      - 27017:27017
    volumes:
      - mongodb_data:/data/db
      - ./data/sample_meflix:/mongo_import
    networks:
      - test

  compass:
    image: haohanyang/compass-web
    container_name: mongo-compass
    environment:
      - CW_MONGO_URI=mongodb://mongo:27017
    depends_on:
      - mongo
    ports:
      - 8080:8080
    links:
      - mongo
    networks:
      - test

networks:
  test:
    driver: bridge

volumes:
  mongodb_data:
